.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f0f0f0;
    height: 100vh;

    .year {
        flex-basis: 45%;
    }

    h2 {
        text-align: center;
        font-size: 1.25em;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        li {
            flex-basis: 50%;
            margin: 0.0625em 0;
            padding: 0.625em;
            border: 0.0625em solid #ccc;
            border-radius: 0.3125em;
            background-color: #fff;
            box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.1);
            text-align: center;

            a {
                text-decoration: none;
                color: dodgerblue;
                text-transform: capitalize;
                font-size: 1em
            }

            svg {
                margin-left: 0.5em;
            }
        }
    }
}